/* Color Pickers */
.color-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px ;
  
}

.color-picker-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 7px;
  
}

input[type="color"] {
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: 1px solid var(--border-color) 0;
  border-radius: 50%;
} 