/* eBird Helper Popup */
@import url("popup-style/header.css");
@import url("popup-style/footer.css");
@import url("popup-style/slider.css");
@import url("popup-style/colorpicker.css");
@import url("popup-style/cache.css");

:root {
  --bg-color: rgb(242, 242, 247);
  
  --card-bg: rgb(255, 255, 255);
  --card-shadow: 0 2px 3px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -4px rgba(0, 0, 0, 0.2); 

  --text-color: #000000;
  --text-desc: #000000;
  --border-color: rgb(51, 65, 85);

  --primary-color: rgb(255, 204, 0);
  --primary-hover: rgb(255, 141, 40);
  --secondary-color: rgb(242, 242, 247);
  --secondary-hover: rgb(209, 209, 214);

  --btn-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); 

  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  
  --slider-on-bkg: rgb(255, 204, 0);
  --slider-off-bkg: rgb(229, 229, 234);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 250px;
  font-size: 13.5px;
  line-height: 1.0;
  overflow-x: hidden;
}

.container {
  padding: 6px;
}


/* Sections */
.section {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 8px;
  box-shadow: var(--card-shadow);
}


/* Settings Items & Switch Toggles */
.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px ;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
}


.highlight-group {
  padding-top: 6px;
  padding-bottom: 6px;
}

.highlight-group .setting-info {
  max-width: 100%;
}

.sub-setting {
  margin-left: 12px;
  padding-left: 12px;
  border-left: 2px solid var(--border-color);
}

.setting-info {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.setting-label {
  font-weight: 500;
  font-size: 13.5px;
}